@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}
body,html{
    overflow-x:hidden ;
}
body{
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  background-color: rgb(0, 0, 0);
  color:white;
  letter-spacing: 1px;
  font-weight: 500;
}
/* home page */
.name{
    font-family: "Dancing Script", cursive;
    font-weight: 600;
}
header{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    background-color:rgb(0,0,0);
    /* border-bottom: 0.1px solid white; */
    position:fixed;
}

ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
    margin-left: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.profile{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    
}
#home{
    height: 100vh;
    padding-top:250px;
}
.home-container{
    display: flex;
    justify-content: space-around;
}

.about-me{
    margin-top: 150px;
}

.full-name ,.role , .tittle-line,.hire-me-button{
    margin-top: 15px;
}
.full-name{
    font-weight: 500;
}
.role{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.tittle-line{
    font-size: 16px;
}
.hire-me-button{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
    border: none;
    font-size: 16px;
}
.hire-me-button:hover{
    cursor: pointer;
}


/* about me page  */


#about-me{
    height: 100vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about{
    text-align: center;
}

img{
    width: 50px;
    height: 50px;
}
.short-introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.about{
    width: 900px;
    text-align: center;
}
.education-list{
    display: flex;
    flex-direction: column;
}
.education-tittle{
    text-align: center;
    margin-top: 50px;
}
.education-detail{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.skills{
    margin-top: 30px;
}
.skill{
    text-align: center;
}
.skill-img-container{
    margin-top: 30px;
}
p{
    margin-top: 3px;

}
.skill-sql,.skill-css,.skill-git{
    margin-left: 10px;
}
/* project page */
#projects{
    height: 100vh;
}

/* contact page */
#contact{
    height: 100vh;
}
@media screen and (max-width:500px){
    .nav-show{
        display: block;
    }
    #home{
        height: 100vh;
        padding-top: 100px;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    .profile{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    
    }
    .line{
        width: 40px;
        margin-top: 5px;
        height: 5px;
        background-color: white;
    }
    #nav-items{
        position: absolute;
        top: 80px;
        display: flex;
    }
    ul{
        flex-direction: column;
        background-color: black;
        width: 450px;
        margin-top: 10px;
        display: none;
    }
    li{
        margin-top: 10px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 70px;
    }
    .home-container{
        display: flex;
        flex-direction: column;
        
    }
    .about-me{
        margin-top: 0px;
    }
    .role{
        width: 100%;
    }
    .tittle-line{
        width: 100%;
    }
    .hire-me-button{
        margin-left: 70px;
        cursor: pointer;
    }
    
    h2,p,button{
        margin-top: 20px;
    }
}
