@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior:smooth;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    font-family: "Dancing Script", cursive;
    font-weight: 600;

}

main{
    height:120vh;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
    width: 128%;
}
nav{
    display: none;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#home{
  display: flex;
  flex-direction: column; /* stack image and text */
  align-items: center;    /* center horizontally */
  justify-content: center; /* center vertically */ 
  text-align: center;   
}

.full-name{
    margin-top: 15px;
    font-weight: 500;
    font-size: 2.5rem
}
.role{
    margin-top: 15px;
    font-size: 25px;
}
.tittle-line{
    margin-top: 25px;
}
.hire-me-button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    width: 150px;
    font-size: 20px;
}